
<div id="entries" class="columns mt-6 is-variable is-3 is-multiline" style="width: 100%;gap: 32px">
  <% @entries.each do |entry| %>
    <%= render entry %>
  <% end %>
</div>

<%= link_to "All entries", :archive_index, class: "button is-link is-outlined mt-6 is-centered" %>
